*,
*::before,
*::after{
    margin: 0;
    box-sizing: border-box;
    padding: 0;
}

body {
    font-family: Tahoma,sans-serif;
    background-color: #eee;
}

h1 {
    font-family: Georgia, serif;
    text-align: center;
    border-bottom: 2px solid #8aa;
    padding: 15px;
    margin-bottom: 20px;
    background-color: #ddd;
    font-size: 3rem;
}

h2{
    font-size: 24px;
    width: 90vw;
    margin: 5px auto 10px auto;
    border-bottom: 2px solid #8aa;
}

.food-description,
.ingredients,
.directions {
    width: 85vw;
    margin: 0 auto;
}

.ingredients,
.directions {
    line-height: 1.5rem;
    padding-left: 1.5em;
}

.food-image {
    margin: 0 auto;
    display: block;
    height: 300px;
    width: auto;
    border: 1px solid #bbb;
    border-radius: 5px;
    box-shadow: 10px 5px 25px rgba(0,0,0,0.5);
}

/* main page link stuff */

.list-a {
    margin: 0 auto;
    max-width: 95vw;
    list-style: none;
    text-align: center;
    display: flex;
    justify-content: space-evenly;
}

.container {
    width: 300px;
    background-color: #ddd;
    margin: 1rem;
    padding: 1rem;
    border-radius: 5px;
}

/* hacky af main page container setup */

.container h2 {
    all: unset;
    background-color: hsl(36, 55%, 80%);
    display: block;
    margin: -1rem -1rem 2rem -1rem;
    padding: 0.5rem;
    border-radius: 5px 5px 0 0;
}

.list-a .food-image {
    height: 150px;
    width: 150px;
    object-fit: cover;
    margin: 1rem auto;
}


.list-a .food-image:hover {
    transform: scale(1.15);
}

li a {
    line-height: 2;
    text-decoration: none;
    color: black;
}

li a:visited {
    color: black;
}